
{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'GRUPO SL - ADMINISTRAÇÃO' %}{% endblock %}

{% block branding %}
<a href="https://sldelivery.herokuapp.com/catalogo/" target="_blank">
  <button >  Ver site Catalogo  </button>
</a>

<a href="https://sldelivery.herokuapp.com/delivery/" target="_blank">
  <button >  Ver site Delivery  </button>
</a>
<p>
</p>


<p>
    <font color="#F0E68C" size=2>
        {% trans 'CACTOS DEV - (86) 9 99733764' %}
    </font>
</p>

<font size=4 color="#7CFC00" id="site-name">
        {% trans 'GRUPO SL - ADMINISTRAÇÃO DO SISTEMA' %}
</font>


{% endblock %}

{% block nav-global %}{% endblock %}