body {
   /** width: 60%; **/
    margin: 0px; 
    /**background: url(img/cvj7.jpg) center; **/
    font-family: sans-serif;
    background-color: #F5F5F5; 
}


header#cabecalho{

    /**background-color: rgba(255,255,255);           /** cor de fundo **/
    background-color:#DAA520;                     /** cor de fundo **/
    height: 50px;
    min-height: 80px; 
}


/** TITULO  ---------------------------------------- **/
header#cabecalho h1{
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: rgba(255,255,255);
    position: absolute;
    left:180px;
    top:0px;
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
    margin-top: 0px                    /** margem de cima **/
    /** margin-bottom: 0px             /** margem de baixo **/
}

/** sub titulos------------------------------------- **/
header#cabecalho h3{
    font-family: Arial, sans-serif;
    font-size: 23px;
    color: rgba(255,255,255);
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
    position: absolute;

}


header#cabecalho h3#sub1{                     /** posicao sub titulo 1 **/
    left:180px;
    top:45px;
}

header#cabecalho h3#sub1 p{                     /** posicao sub titulo 1 **/
     font-size: 17px;
     top:40px;
}

header#cabecalho h3#sub2{                    /** posicao sub titulo 2 **/

}


/** LOGOMARCA **/

div#logo_cabecalho img#icone{
    height: 40px;
    width: 100px;                       /** largura **/
    min-height: 80px;
    border: 5px solid #DAA520;            /** borda e cor da borda **/
    margin-left: -20px;

  
}

/** LOGOMARCA2-celular **/

div#logo_cabecalho2 img#icone2{
    height: 40px;
    min-height: 55px;
    border: 4px solid #DAA520;            /** borda e cor da borda **/
    width: 70px;                       /** largura **/
    margin-left: -30px;

}


.menu{
    background-color:  #B8860B;
    height: 30px;
    font-size: 17px;
    font-family: Arial, sans-serif;

}

.menu ul{
    margin-left: -55px;

}

.menu ul li{
    list-style: none;
    width: 100px;
    float: left;
 
}

.menu a{

    padding: 2px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #B8860B; 
    color: #fff;
    border-right:1px solid #DAA520;
    border-left:1px solid #DAA520;


}


.menu a:hover{    
    color:#DAA520 ;
    background-color: white; 
    text-decoration: none;
    list-style: none;
    border: 1px solid #DCDCDC;        /** borda e cor da borda **/
    border-radius: 2px 0px 2px 0px;  /** arredondamento da borda **/
    
}

.menu ul ul li{
    width: 180px;
    font-size: 16px;

}

.menu ul ul a{
    color:black;
    width: 230px;
    float: left;
    background-color: white; 
    text-decoration: none;
    list-style: none;
    border: 1px solid #B8860B;        /** borda e cor da borda **/
    border-radius: 2px 0px 2px 0px;  /** arredondamento da borda **/

}

.menu ul ul#endereco-menu a{

    width: 220px;
    float: left;
    text-align: center;
    margin-left: 55px;

}

.menu ul ul#bairro-entregar a{

    width: 230px;
    float: right;
    background-color: white; 
    text-decoration: none;
    list-style: none;
    text-align: left;

}


.menu ul ul{
    position: absolute;
    visibility: hidden;
    padding: 2px;

}

.menu ul li:hover ul{  
    visibility: visible;

}



.carrinho-menu{
    background-color: #2F4F4F;
    height: 30px;                    /** fonte em negrito **/
    color: #fff;
    padding: 5px;


}

.carrinho-menu h4{

    font-size: 14px;
    color: #fff;

}

.carrinho-menu input{

 
    color: black;
    background-color: white;
    text-align: right;
    width:150px;
    height:27px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events:none;
    outline:none;
    font-size: 19px;
    font-weight: bold;                     /** fonte em negrito **/

}

.carrinho-menu-qtd{
    background-color:#1C1C1C;
    height: 30px;                    /** fonte em negrito **/
    color: #fff;
    padding: 5px;


}

.carrinho-menu-qtd h4{

    font-size: 14px;
    color: #fff;

}

.carrinho-menu-qtd input{

    color: black;
    background-color: white;
    text-align: right;
    width:100px;
    height:27px;
    position: absolute;
    right: 20px;
    top: 1px;
    pointer-events:none;
    outline:none;
    font-size: 19px;
    font-weight: bold;                     /** fonte em negrito **/

}


.tela-itens{

    height: 100%px ;                    /** altura do bloco **/
    width: 100%px;                       /** largura **/
    background-color:  #FFFFE0;
    padding: 120px;

}

.tela-itens h4{
    padding: 5px;
    font-size: 27px;
    font-weight: bold;                     /** fonte em negrito **/
    color: black;
    text-align: center;

}

.cor-de-fundo-imagem{
    height: 160px ;                    /** altura do bloco **/
    width: 280px;                       /** largura **/
    border: 1px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 15px 15px 0px 0px;  /** arredondamento da borda **/
    text-align: center;
    background-color: rgba(255,255,255);


}

.imagemProduto{

    height: 155px ;                    /** altura do bloco **/
    width: 160px;                       /** largura **/
    border: 0px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 20px 20px 20px 20px;  /** arredondamento da borda **/
    padding: 5px 5px 5px 5px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */

    
}

.corDeFundoPreco{
    background-color: white;         /** cor de fundo **/
    height: 200px ;                    /** altura do bloco **/
    width: 280px;                      /** largura **/
    border: 1px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 0px 0px 10px 10px;  /** arredondamento da borda **/

}

#pedBebidas .fontes-descricao-item{
    height: 90px ;                    /** altura do bloco **/

}

#pedBebidas ul li#fonte1{
    font-size: 18px;                          /** tamanho da fonte **/
    /** font-weight: bold;                        /** fonte em negrito **/
    color: #000;                              /** cor da fonte **/
    line-height:20px;                          /** espaço entre as linhas **/
    text-align: center;
}

#pedBebidas ul li#fonte2{/
    line-height:14px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/

}

#pedBebidas ul li#fonte3{
    line-height:14px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/
}

#pedBebidas ul li#fonte4{
    font-size: 22px;                          /** tamanho da fonte **/
    /**font-weight: bold;                        /** fonte em negrito **/
    color: #000;                              /** cor da fonte **/
    line-height:30px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/
}


.tela-itens-catalogo{
    background-color:  #FFFFE0;
    padding: 120px;

}

.tela-itens-catalogo h4{
    padding: 5px;
    font-size: 27px;
    font-weight: bold;                     /** fonte em negrito **/
    color: black;
    text-align: center;

}

.cor-de-fundo-imagem-catalogo{
    height: 190px ;                    /** altura do bloco **/
    width: 280px;                       /** largura **/
    border: 2px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 15px 15px 0px 0px;  /** arredondamento da borda **/
    text-align: center;
    background-color: rgba(255,255,255);

}


.imagemProdutoCatalogo{

    height: 185px ;                    /** altura do bloco **/
    width: 180px;                       /** largura **/
    
}

.corDeFundoPrecoCatalogo{
    background-color: rgba(255,255,255);         /** cor de fundo **/
    height: 120px ;                    /** altura do bloco **/
    width: 280px;                      /** largura **/
    border: 2px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 0px 0px 10px 10px;  /** arredondamento da borda **/

}

#catalogo ul li#fonte1{
    font-size: 21px;                          /** tamanho da fonte **/
    line-height:20px;                          /** espaço entre as linhas **/
    /** font-weight: bold;                        /** fonte em negrito **/
    color: #000;                              /** cor da fonte **/
    text-align: center;
}

#catalogo ul li#fonte2{
    line-height:17px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/

}

#catalogo ul li#fonte3{
    line-height:17px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/
}

#catalogo ul li#fonte4{
    font-size: 25px;                          /** tamanho da fonte **/
    /**font-weight: bold;                        /** fonte em negrito **/
    color: #000;                              /** cor da fonte **/
    line-height:30px;                          /** espaço entre as linhas **/
    padding-left:10px;                       /** espaço da borda e texto a esquerda **/
    padding: 0px 0px 10px 10px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */

}

.ladoALado{
    float: left;
    padding: 20px 0px 0px 20px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
}


#botoesTot{

    font: bold 19px/24px arial, helvetica, sans-aerif;
    padding:1px;
    text-decoration: none;
    text-align:center;
    color: black;
    display:inline-block;
    margin-left: 0px;


}

#botoesTot button{

    font: bold 20px/24px arial, helvetica, sans-aerif;
    display:inline-block;
    margin-left: 10px;
    height:31px;

}



#inputTotais{
    position: relative;
    bottom: 5px;
    left: 10px;

}

#inputTotais span{
    font-size: 14px;
    width:50px;
    height:27px;
  
}

#inputTotais input{
    height:27px;
    font: bold 19px/24px arial, helvetica, sans-aerif;
    text-align:center;
    pointer-events:none;
    outline:none;
   
}

#campoQtdBoot{

    width:230px;
    height:20px;
    margin-left: 0x;
    height:30px;
    top: 10px;

}

#campoQtdBoot input{

    margin-left: 9px;
    margin-top: 2px;
    text-align:center;

}

#campoTotalBoot{

    width:230px;
    height:20px;
    margin-left: 2px;
}

#campoTotalBoot span{
    font-size: 14px;
    width:70px;
    height:27px;

}

.btn-seleciona{
    font-size: 13px;      
    width:130px;
    position: relative;
    top: -8px;
    margin-left: 75px;
    text-align: center;
    border: 5px outset #DCDCDC;        /** borda e cor da borda **/
    border-radius: 5px 5px 5px 5px;  /** arredondamento da borda **/
      
}







/**========================== MEDIA SCREEN ==============================**/ 



@media screen and (max-width: 767px) {

    header#cabecalho{

    /**background-color: rgba(255,255,255);           /** cor de fundo **/
    background-color: #DAA520;                     /** cor de fundo **/
    height: 60px;
    min-height: 60px; 
    border-radius: 0px 0px 0px 0px;  /** arredondamento da borda **/
   
    }

    header#cabecalho h1 {
        left:85px;
        top:5px;
        font-size: 20px;

    }

    header#cabecalho h3#sub1 {
        left:85px;
        top:31px;
        font-size: 16px;
    }

    header#cabecalho h3#sub1 p{                     /** posicao sub titulo 1 **/
        font-size: 12px;
        padding: 5px 0px 0px 0px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    }


    .menu{
        height: 34px;
        border-radius: 0px 0px 0px 0px;  /** arredondamento da borda **/
        font-size: 16px;

    }


    .menu ul li{
        width: 90px;

    }

    .menu a{
        padding: 5px;
        text-align: center;
        border-radius: 0px 0px 0px 0px; 
 
    }

    .carrinho-menu{

        border-radius: 0px 0px 0px 0px;  /** arredondamento da borda **/
        height: 25px;                    /** fonte em negrito **/
        padding: 3px;

    }

    .carrinho-menu h4{

        font-size: 15px;

    }

    .carrinho-menu input{

        font-weight: bold;                     /** fonte em negrito **/
        color: black;
        width:140px;
        height:23px;s
        position: absolute;
        right: 10px;
        top: 1px;

    }

    .carrinho-menu-qtd{
        background-color: #2F4F4F;
        height: 25px;                    /** fonte em negrito **/
        color: #fff;
        padding: 3px;


    }

    .carrinho-menu-qtd h4{

        font-size: 15px;
        color: #fff;

    }

    .carrinho-menu-qtd input{

        color: black;
        background-color: white;
        text-align: right;
        width:140px;
        height:23px;
        position: absolute;
        right: 10px;
        top: 1px;
        pointer-events:none;
        outline:none;
        font-size: 19px;
        font-weight: bold;                     /** fonte em negrito **/

    }

    .tela-itens{
        padding: 145px;

    }

    
    .tela-itens h4{
        padding: 3px;
        font-size: 15px;
        font-weight: bold;                     /** fonte em negrito **/
        color: black;
        text-align: center;

    }


    .cor-de-fundo-imagem{
        height: 160px ;                    /** altura do bloco **/
        width: 170px;                       /** largura **/
        border: 1px outset #DCDCDC;        /** borda e cor da borda **/
        border-radius: 15px 15px 0px 0px;  /** arredondamento da borda **/
        text-align: center;



    }

    .imagemProduto{

        height: 159px ;                    /** altura do bloco **/
        width: 160px;                       /** largura **/
        padding: 5px 5px 5px 5px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    
    }

    .corDeFundoPreco{
        background-color: rgba(255,255,255);         /** cor de fundo **/
        height: 213px ;                    /** altura do bloco **/
        width: 170px;                      /** largura **/
        border: 1px outset #DCDCDC;        /** borda e cor da borda **/
        border-radius: 0px 0px 3px 3px;  /** arredondamento da borda **/
        font-size: 13px;                          /** tamanho da fonte **/



    }


    #pedBebidas .fontes-descricao-item{
        height: 100px ;                    /** altura do bloco **/

    }

    #pedBebidas ul li#fonte1{
        font-size: 15px;                          /** tamanho da fonte **/
        /** font-weight: bold;                        /** fonte em negrito **/
        color: #000;                              /** cor da fonte **/
        text-align: center;
        line-height:15px;                          /** espaço entre as linhas **/
    }

    #pedBebidas ul li#fonte2{
        line-height:17px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/


    }

    #pedBebidas ul li#fonte3{
        line-height:17px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/
    }

    #pedBebidas ul li#fonte4{
        font-size: 20px;                          /** tamanho da fonte **/
        /**font-weight: bold;                        /** fonte em negrito **/
        color: #000;                              /** cor da fonte **/
        line-height:20px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/
    }



    .tela-itens-catalogo{
        background-color:  #FFFFE0;
        padding: 95px;

    }

    .tela-itens-catalogo h4{
        padding: 2px;
        font-size: 15px;
        font-weight: bold;                     /** fonte em negrito **/
        color: black;
        text-align: center;

    }

    .cor-de-fundo-imagem-catalogo{
        height: 185px ;                    /** altura do bloco **/
        width: 170px;                       /** largura **/
        border: 2px outset #DCDCDC;        /** borda e cor da borda **/
        border-radius: 15px 15px 0px 0px;  /** arredondamento da borda **/
        text-align: center;


    }

    .imagemProdutoCatalogo{

        height: 176px ;                    /** altura do bloco **/
        width: 166px;                       /** largura **/
        
    }

    .corDeFundoPrecoCatalogo{
        background-color: rgba(255,255,255);         /** cor de fundo **/
        height: 120px ;                    /** altura do bloco **/
        width: 170px;                      /** largura **/
        border: 2px outset #DCDCDC;        /** borda e cor da borda **/
        border-radius: 0px 0px 10px 10px;  /** arredondamento da borda **/

    }

    #catalogo ul li#fonte1{
        font-size: 17px;                          /** tamanho da fonte **/
        /** font-weight: bold;                        /** fonte em negrito **/
        color: #000;                              /** cor da fonte **/
        text-align: center;
        line-height:15px;                          /** espaço entre as linhas **/
    }

    #catalogo ul li#fonte2{
        line-height:17px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/

    }

    #catalogo ul li#fonte3{
        line-height:17px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/
    }

    #catalogo ul li#fonte4{
        font-size: 22px;                          /** tamanho da fonte **/
        /**font-weight: bold;                        /** fonte em negrito **/
        color: #000;                              /** cor da fonte **/
        line-height:30px;                          /** espaço entre as linhas **/
        padding-left:10px;                       /** espaço da borda e texto a esquerda **/
    }



    .ladoALado{
        float: left;
        padding: 10px 0px 0px 10px;   /*  acima    50px  padding  */
                                /*  direita  0px  padding  */
                                /*  abaixo   00px padding  */
                                /*  esquerda 30px  padding  */
    }


    #inputTotais{
        position: relative;
        margin-top: -6px;
        left: 2px;


    }


    #botoesTot{

        font: bold 20px/24px arial, helvetica, sans-aerif;
        padding:6px;
        text-decoration: none;
        text-align:center;
        color: black;
        display:inline-block;
        margin-left: -5px;


    }

    #botoesTot button{

        font: bold 20px/24px arial, helvetica, sans-aerif;
        display:inline-block;
        margin-left: 2px;

    }


    

    #campoQtdBoot{

        width:160px;
        margin-left: 0px;

    }

    #campoQtdBoot input{

        margin-left: 3px;

    }

    #campoQtdBoot2{

        width:160px;
        height:20px;
        margin-left: 0px;
        height:30px;
        top: 10px;
    }

     #campoQtdBoot2 input{
        margin-left: 3px;
     }


    #campoTotalBoot{

        width:160px;
        margin-left: 1px;
        margin-top: -6px;


    }

    .btn-seleciona{
        font-size: 13px;      
        width:130px;
        position: relative;
        margin-left: 17px;
        text-align: center;
        border: 5px outset #DCDCDC;        /** borda e cor da borda **/
        border-radius: 4px 4px 4px 4px;  /** arredondamento da borda **/
      
    }

    

}

#site-inoperante{

    text-align:center;

}

.aviso-administrador{
    background-color: yellow;         /** cor de fundo **/
}

.aviso-administrador h4#site-lib{
    background-color: green;         /** cor de fundo **/
}

.aviso-administrador h4#site-blo{
    background-color: red;         /** cor de fundo **/
}

footer{
    height: 100%px ;                    /** altura do bloco **/
    width: 100%px;                       /** largura **/
    text-align: center;


}
img#logo_cactos{
    text-align: center; 
    height: 30px;
    min-height: 60px;
    width: 130px;                       /** largura **/

}