
<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>sl-delivery-catalogo </title>

    <!--CSS
    <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    -->

    <!-- Custom styles for this template -->
    <link href= {% static 'css/aplication.css' %} rel="stylesheet" >
    <script src = {% static 'js/myaplication.js' %} > </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>

    <!--
    <div class="container-fluid">
      <div class="row">
        <div id = "azul" class="col-sm-3 col-xs-12" > </div>
        <div id = "vermelho" class="col-sm-9 col-xs-12" > </div>
      </div>
      <div class="row">
        <div id = "preto" class="col-sm-10" > </div>

                     <<< aqui o amarelo some se nao for 12 col >>>
        <div id = "amarelo" class="col-sm-2 d-none d-sm-block" > </div>
      </div>
      <div class="row">
        <div id = "verde" class="col-12" > </div>
      </div>
    </div>

    -->

    <div class="container-fluid">
      <div class="row">


        <header id="cabecalho" class="fixed-top col-sm-12">

          <hgroup>


            <!-- esse aparece no PC -->
            <div id="logo_cabecalho" class="col-md-2 d-none d-md-block">
                  <img id = "icone"  src= {% static 'css/img/SL.png' %} />
            </div>


            <!-- esse aparece no CEL -->
            <div id="logo_cabecalho2" class="col-md-1 d-block d-md-none">
                  <img id = "icone2"  src= {% static 'css/img/SL.png' %} />
            </div>


            <h1> CONVENIENCIA S & L</h1>

            <h3 id="sub1">
                {% if Tipo == "delivery" %}
                    Vendas e entregas de Cervejas
                {% else %}
                    Delivery a partir de 6 unidades

                {% endif %}
            </h3>


            <div class="row">
                <!-- quando for smartfone pega 12 coluna, se nao, pega 7 -->
              {% if Tipo == "delivery" %}

                <nav class = "menu col-xs-12  col-md-4" >
                  <ul>
                    <li> <a id="inicio" href = "#"> Inicio </a></li>
                    <li> <a id="entrega" href = "#" > Entrega </a></li>
                    <li> <a id="pagamento" href = "#" > Pagamento </a></li>
                  </ul>
                </nav>

                <!-- quando for smartfone pega 12 coluna, se nao, pega 5 -->
                <div class = "carrinho-menu-qtd col-xs-12  col-md-4 " >
                  <h4> Qtd Produtos Selecionados
                        <input type="text"
                               class="form-control"
                               aria-label="Quantia"
                               id = "qtTotalDelivery"
                               value ="0.00"

                        >
                  </h4>
                </div>


                <!-- quando for smartfone pega 12 coluna, se nao, pega 5 -->
                <div class = "carrinho-menu col-xs-12  col-md-4 " >
                  <h4> Valor da compra R$
                        <input type="text"
                               class="form-control"
                               aria-label="Quantia"
                               id = "valorTotalDelivery"
                               value ="0.00"

                        >
                  </h4>
                </div>
              {% else %}

                <nav class = "menu col-xs-12  col-md-12" >
                  <ul>
                    <li> <a id="endereco" href = "#"> Endereço </a>
                        <ul id="endereco-menu">
                          <li>
                            <a>
                              Quadra 31, Casa 40. </br>
                              Conj Manoel Evangelista II. </br>
                              Bairro Novo Horizonte
                            </a>
                          </li>
                        </ul>

                    </li>

                    <li> <a id="contato" href = "#"> Contato </a>
                        <ul id="contato-menu">
                          <li>
                            <a href="https://api.whatsapp.com/send?phone=5586995031198&text="ola%20SL%20Conveniencia">
                                  Telefone/Whatsapp </br>
                                  (86) 9 9503 1198 </br>
                                  <button type="button" class="btn btn-success">
                                    Clique aqui para </br> enviar mensagem!
                                  </button>
                            </a>
                          </li>
                        </ul>
                    </li>

                    <li> <a id="bairro-entrega" href = "#"> Entregas </a>
                        <ul id="bairro-entregar">
                          {% for BAIRRO_ENTREGA in BairroEntrega %}
                          <li> <a>
                                {{ BAIRRO_ENTREGA.bairro }}
                               </a>
                          </li>
                          {% endfor %}
                        </ul>


                    </li>



                  </ul>
                </nav>
              {% endif %}

            </div>


          </hgroup>
        </header>

        {% block main %}

        {% endblock %}

      </div>
    </div>


    <footer >
      <div class="container text-center">
        <small>Copyright &copy; Cactos Dev </br> Peça seu site</small> </br>
        <img id = "logo_cactos"  src= {% static 'css/img/CACTOS_DEMOS.png' %} /> </br>
        <small>(86) 9 9973 3764</small>
     </div>

    </footer>
</body>

</html>