{% extends 'base.html' %}
{% block main %}

{% load static %}


      <div class="row">
          <!-- quando for smartfone pega 12 coluna, se nao, pega 12 -->
        <div class = "tela-itens-catalogo col-md-12 col-xs-12">
          {% if user.is_authenticated %}
            <h4> Desmonstração para o ADMINISTRADOR do sistema  </h4>
          {% endif %}

          {% if ProdutosDoSite %}
              <h4> Nossos produtos disponiveis </h4>
          {% else %}
              <h4> Sem produtos no momento, estamos renovando
                o estoque com os melhores produtos para lhe atender bem! </h4>
          {% endif %}

            <div id="catalogo">
              {% for PRODUTOS_DO_SITE in ProdutosDoSite %}

                <ul style="list-style-type: none;" class="ladoALado">
                  <li>
                    <div id="cor-de-fundo-imagem-catalogo">
                      {% if PRODUTOS_DO_SITE.foto %}
                        <img class = "imagemProdutoCatalogo"
                          src =" {{PRODUTOS_DO_SITE.foto.url}} " />
                      {% else %}
                        <img class = "imagemProdutoCatalogo"
                          src =" {{PRODUTOS_DO_SITE.url_imagem}} ">

                      {% endif %}

                    </div>
                  </li>
                  <div class = "corDeFundoPrecoCatalogo">
                    <li id="fonte1"> {{PRODUTOS_DO_SITE.bebida}}      </li>
                    <li id="fonte2"> {{PRODUTOS_DO_SITE.complemento}} </li>
                    <li id="fonte3"> {{PRODUTOS_DO_SITE.tamanho}}     </li>
                    <li id="fonte4"> R$  {{PRODUTOS_DO_SITE.valor}}
                      <!--
                      <a  class="botaoMaisUm"
                        href =" "
                        title="Colocar no carrinho!"> + 1 </a>
                      <a  class="botaoMenosUm"
                        href =" "
                        title="Colocar no carrinho!"> - 1 </a>
                        -->


                    </li>


                </ul>




              {% endfor %}
            </div>

        </div>

      </div>

    </div>
{% endblock %}
