{% extends 'base.html' %}
{% block main %}

{% load static %}

      <div class="row">
          <!-- quando for smartfone pega 12 coluna, se nao, pega 12 -->
        <div class = "tela-itens col-md-12 col-xs-12">

          <div class = "aviso-administrador">
            {% if user.is_authenticated %}
              <h4> Desmonstração para o ADMINISTRADOR do sistema  </h4>
              {% if Libera_delivery %}
                  <h4 id="site-lib"> O site DELIVERY se encontra LIBERADO no momento </h4>
              {% else %}
                  <h4 id="site-blo"> O site DELIVERY se encontra BLOQUEADO no momento </h4>
              {% endif %}
            {% endif %}
          </div>

          {% if ProdutosDoSite %}
              <h4> Faça seu pedido, Boas compras! </h4>
          {% else %}
              <h4> Sem produtos no momento, estamos renovando o
                estoque com os melhores produtos para lhe atender bem! </h4>
          {% endif %}

            <div id="pedBebidas">
              {% for PRODUTOS_DO_SITE in ProdutosDoSite %}

                <ul style="list-style-type: none;" class="ladoALado">
                  <li>
                    <div class="cor-de-fundo-imagem"
                          id ="cor-de-fundo-imagem{{PRODUTOS_DO_SITE.id}}"  >
                      {% if PRODUTOS_DO_SITE.foto %}
                        <img class = "imagemProduto"
                          src =" {{PRODUTOS_DO_SITE.foto.url}} " />
                      {% else %}
                        <img class = "imagemProduto"
                          src =" {{PRODUTOS_DO_SITE.url_imagem}} ">

                      {% endif %}

                    </div>
                  </li>


                  <div class = "corDeFundoPreco" id="corDeFundoPreco{{PRODUTOS_DO_SITE.id}}">

                    <li id="fonte1"> {{PRODUTOS_DO_SITE.bebida}}      </li>
                    <li id="fonte2"> {{PRODUTOS_DO_SITE.complemento}} </li>
                    <li id="fonte3"> {{PRODUTOS_DO_SITE.tamanho}}     </li>
                    <li id="fonte4"> R$  {{PRODUTOS_DO_SITE.valor}}   </li>


                      <!-- Campo Invisivel -->


                    <!-- <h4 id="vl-total"> Totais</h4> -->

                    <div id =inputTotais>

                      <div id="botoesTot">

                        <div>
                          <div class="input-group mb-3" id="campoQtdBoot">

                            <!--ESSA DIV AQUI NAO VAI APARECER EM SMART FONE (d-none d-md-block) -->
                            <div class="input-group-prepend d-none d-md-block">
                              <span class="input-group-text" >Qt</span>
                            </div>


                            <button type="button"
                                    class="btn btn-warning"
                                    onclick = "botaoMenosUm({{PRODUTOS_DO_SITE.id}},
                                                            {{PRODUTOS_DO_SITE.valor}})"
                            >-1</button>


                            <input  type="text"
                                    class="form-control"
                                    aria-label="Quantia"
                                    id="campoQuantidade{{PRODUTOS_DO_SITE.id}}"
                                    value = "0">

                            <button type="button"
                                    class="btn btn-success"
                                    onclick = "botaoMaisUm({{PRODUTOS_DO_SITE.id}},
                                                           {{PRODUTOS_DO_SITE.valor}})"
                            >+1</button>



                          </div>
                        </div>


                        <!-- AQUI SOH VAI APARECER EM SMART FONE
                        <div class = "d-block d-md-none">
                          <div class="input-group mb-3" id="campoQtdBoot2">
                            <button type="button"
                                    class="btn btn-success"
                                    onclick = "botaoMaisUm({{PRODUTOS_DO_SITE.id}})"
                            >+1</button>

                            <input type="text"
                                     class="form-control "
                                     aria-label="Quantia"
                                     value = "0"
                                     id="{{PRODUTOS_DO_SITE.id}}">

                            <button type="button"
                                    class="btn btn-warning"
                                    onclick = "botaoMenosUm({{PRODUTOS_DO_SITE.id }})">-1</button>
                          </div>
                        </div>
                        -->


                      </div>


                      <script>
                          $(document).ready(function(){
                              $('#campoTotal{{PRODUTOS_DO_SITE.id}}').mask('000,000.00');
                          });
                      </script>


                      <div class="input-group mb-3" id="campoTotalBoot">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                                id="col-form-label-sm">Total R$</span>
                        </div>

                        <input type="text"
                               class="form-control"
                               aria-label="Quantia"
                               id="campoTotal{{PRODUTOS_DO_SITE.id}}"
                               value="0.00"
                        >

                      </div>



                    </div>
                    <button
                            type="button"
                            class="btn-seleciona btn-outline-success">
                            Selecionar Item
                    </button>
                  </div>

                </ul>




              {% endfor %}
            </div>

        </div>

      </div>

    </div>
{% endblock %}
