<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Pedidos </title>

    <!--CSS
    <link href={% static 'vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
    -->

    <!-- Custom styles for this template -->
    <link href= {% static 'css/aplication.css' %} rel="stylesheet" >
    <script src = {% static 'js/myaplication.js' %} > </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <style type="text/css">
      #azul {
          background-color: blue;
          height: 120px;
      }
      #vermelho {
          background-color: red;
          height: 120px;
      }
      #preto {
          background-color: black;
          height: 60px;
          min-height: 400px;
      }
      #amarelo {
          background-color: yellow;
          height: 60px;
          min-height: 400px;
      }
      #verde {
          background-color: green;
          height: 100px;
      }

      @media screen and (max-width: 576px) {
          #azul {
            height: 60px;
          }

          #vermelho {
            height: 45px;
          }

      }




    </style>


</head>

<body>

    <!--
    <div class="container-fluid">
      <div class="row">
        <div id = "azul" class="col-sm-3 col-xs-12" > </div>
        <div id = "vermelho" class="col-sm-9 col-xs-12" > </div>
      </div>
      <div class="row">
        <div id = "preto" class="col-sm-10" > </div>

                     <<< aqui o amarelo some se nao for 12 col >>>
        <div id = "amarelo" class="col-sm-2 d-none d-sm-block" > </div>
      </div>
      <div class="row">
        <div id = "verde" class="col-12" > </div>
      </div>
    </div>

    -->

    <div class="container-fluid">
      <div class="row">


        <header id="cabecalho" class="fixed-top col-sm-12">
          <hgroup>

            <!-- esse aparece no PC -->
            <div id="logo_cabecalho" class="col-sm-2 d-none d-sm-block">
                  <img id = "icone"  src= {% static 'css/img/SL.png' %} />
            </div>

            <!-- esse aparece no CEL -->
            <div id="logo_cabecalho2" class="col-sm-1 d-block d-sm-none">
                  <img id = "icone2"  src= {% static 'css/img/SL.png' %} />
            </div>


            <h1> CONVENIENCIA S & L</h1>

            <h3 id="sub1">
                Vendas e entregas de Cervejas
            </h3>

            <div class="row">
                <!-- quando for smartfone pega 12 coluna, se nao, pega 8 -->
              <nav class = "menu col-sm-7 col-xs-12">
                <ul>
                    <li> <a id="inicio" href = "#"> Inicio </a></li>
                    <li> <a id="entrega" href = "#" > Entrega </a></li>
                    <li> <a id="pagamento" href = "#" > Pagamento </a></li>
                </ul>
              </nav>

                <!-- quando for smartfone pega 12 coluna, se nao, pega 8 -->
              <div class = "carrinho-menu col-sm-5 col-xs-12" >
                  <h4> Valor da compra R$
                  <input type="text" class="form-control" aria-label="Quantia"> </h4>


              </div>

            </div>

          </hgroup>
        </header>


      </div>

      <!--
      <div id="menu_e_tela_central" class="row">
          <nav id="menu" class ="col-2"  >
            <ul>
              <li> <a id="contato" href = "#"> Contato </a></li>
              <li> <a id="sobre"   href = "#" > Sobre o Site</a></li>
            </ul>
          </nav>

          <div class ="col-10">


          </div>
      </div>
      -->


      <div class="row">
          <!-- quando for smartfone pega 12 coluna, se nao, pega 12 -->
        <div class = "tela-itens col-sm-12 col-xs-12">
          <h4> Faça seu pedido, Boas compras! </h4>

            <div id="pedBebidas">
              {% for PRODUTOS_DO_SITE in ProdutosDoSite %}

                <ul style="list-style-type: none;" class="ladoALado">
                  <li>
                    <div id="cor-de-fundo-imagem">
                      {% if PRODUTOS_DO_SITE.foto %}
                        <img class = "imagemProduto"
                          src =" {{PRODUTOS_DO_SITE.foto.url}} " />
                      {% else %}
                        <img class = "imagemProduto"
                          src =" {{PRODUTOS_DO_SITE.url_imagem}} ">

                      {% endif %}

                    </div>
                  </li>
                  <div class = "corDeFundoPreco">
                    <li id="fonte1"> {{PRODUTOS_DO_SITE.bebida}}      </li>
                    <li id="fonte2"> {{PRODUTOS_DO_SITE.complemento}} </li>
                    <li id="fonte3"> {{PRODUTOS_DO_SITE.tamanho}}     </li>
                    <li id="fonte4"> R$  {{PRODUTOS_DO_SITE.valor}}
                      <!--
                      <a  class="botaoMaisUm"
                        href =" "
                        title="Colocar no carrinho!"> + 1 </a>
                      <a  class="botaoMenosUm"
                        href =" "
                        title="Colocar no carrinho!"> - 1 </a>
                        -->


                    </li>

                    <!-- <h4 id="vl-total"> Totais</h4> -->

                    <div id =inputTotais>

                      <!--
                      <div id="botoesTot">
                        <label> Qtd </label>
                        <button type="button" class="btn btn-outline-success">+1</button>
                        <input id="campoQuantidade"
                              class="quantidadeItens"
                              name="quantidade"
                              type="number"
                              value="1"
                        >

                        <button type="button" class="btn btn-outline-warning">-1</button>
                      </div>
                      -->

                      <div id="botoesTot">
                        <div class="input-group mb-3" id="campoQtdBoot">
                          <div class="input-group-prepend">
                            <span class="input-group-text" >Qt</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Quantia">
                         <button type="button" class="btn btn-outline-success">+1</button>
                          <button type="button" class="btn btn-outline-warning">-1</button>
                        </div>
                      </div>


                      <div class="input-group mb-3" id="campoTotalBoot">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="col-form-label-sm">Total R$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Quantia">

                      </div>



                    </div>


                </ul>




              {% endfor %}
            </div>

        </div>

      </div>









    </div>




</body>
</html>